<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @feed.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @feed.icon %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
