<% content_for :nullFeeds do %>
	<% @nullSubscriptions.each do |subscription| %>
		<li><a href="/home/feed?id=<%= subscription.feed_id %>" style="background-image: url(data:image/png;base64,<%= Base64.strict_encode64(subscription.icon) %>);"><%= subscription.name %></a></li>
	<% end %>
<% end %>

<% content_for :folderFeeds do %>
	<% @folders.each do |folder| %>
		<li class="folder">
			<input id="<%= folder.folder %>" type="checkbox" />
			<label for="<%= folder.folder %>"><%= folder.folder %></label>
			<ul class="connected sortable">
				<% folderSubscriptions(folder.folder).each do |subscription| %>
					<% print @feedID %>
					<% puts subscription.feed_id %>
					<li><a <% if @feedID.to_i == subscription.feed_id %>class="active"<% end %> href="/home/feed?id=<%= subscription.feed_id %>" style="background-image: url(data:image/png;base64,<%= Base64.strict_encode64(subscription.icon) %>);"><%= subscription.name %></a></li>
				<% end %>
				<li class="empty-li" />
			</ul>
		</li>
	<% end %>
<% end %>

<% content_for :header do %>
	<span class="button-primary">Refresh</span>
	<span class="button-secondary">Settings</span>
	<span class="button-secondary open-popup" target-popup="#unsubscribe">Unsubscribe</span>
	<h2><%= @feed.name %></h2>
<% end %>

<% @articles.each do |article| %>
	<article class="unread">
		<div class="date"><%= article.date.strftime("%Y-%m-%d") %></div>
		<h2><a href="<%= article.url %>" target="_blank"><%= article.title %></a></h2>
		<% if article.author != nil %>
		<div class="author">by <b><%= article.author %></b></div>
		<% end %>
		<div class="content">
			<p>
			<%= article.content.html_safe %>
			</p>
		</div>
		<div class="action-bar">
			<a>Like</a>
			<a>Mark as read</a>
		</div>
	</article>
<% end %>
