<!DOCTYPE html>
<html>
<head>
  <title>kream</title>
  <%= favicon_link_tag       'favicon.png', rel: 'icon', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1><a href="/">kream.io</a><span class="version"> rss</span></h1>
		<nav>
			<ul>
				<!-- PARAMS -->
				<li><a href="/home/feed?id=-1" class="active">Home</a></li>
				<li><a href="/home/settings">Settings</a></li>
				<li><a href="/home/help">Help</a></li>
				<li><a>Sign out</a></li>
			</ul>
		</nav>
	</header>
	<div id="main">
		<div id="sidebar">
			<span id="new-subscription" class="button-primary block">New subscription</span>
			<div id="add-subscription">
				<form>
					<fieldset>
						<button type="submit" tabindex="2">Add</button>
						<input id="subscriptionURL" placeholder="subscription URL" tabindex="1" />
					</fieldset>
				</form>
			</div>
			<div id="sidebar-content">
				<div id="menu">
					<ul>
						<li><a id="home" href="/home/feed?id=-1">Home</a></li>
						<li><a id="unread" href="/home/feed?id=-2">Unread</a><span class="badge"> <%= @unread %></span></li>
						<li><a id="liked" href="/home/feed?id=-3">Liked</a></li>
						<li><a id="all" href="/home/feed?id=-4">All articles</a></li>
					</ul>
				</div>
				<div id="subscriptions">
					<ul class="connected sortable">
						<%= yield :nullFeeds %>
					</ul>
					<ul>
						<%= yield :folderFeeds %>
					</ul>
				</div>
			</div>
		</div>
		<div id="content">
			<div id="header" class="header">
				<%= yield :header %>
			</div>
			<div id="reader">
				<%= yield %>
			</div>
		</div>
	</div>
	<div id="overlay" onclick="hideOverlay()"></div>
	<div id="unsubscribe" class="popup">
		<div class="header">
			<span class="button-secondary" onclick="hideOverlay()">×</span>
			<h3>Unsubscribe</h3>
		</div>
		<form method="post">
			<fieldset>
				<span id="form-question">Are you sure you want to unsubscribe from <%= @feed.name %>?</span>
				<button type="submit">Yes</button>
				<button type="button" class="button-secondary" onclick="hideOverlay()" tabindex="1">No</button>
			</fieldset>
		</form>
	</div>
</body>
</html>
